@import "tailwindcss";

@font-face {
    font-family: 'apercumid';
    /* Name of your font */
    src: url('fonts/apercu-medium.woff2') format('woff2');
    /* Path to the font */
    font-weight: normal;
    /* You can specify weights like normal, bold */
    font-style: normal;
    /* Options: normal, italic */
}

@font-face {
    font-family: 'apercureg';
    /* Name of your font */
    src: url('fonts/apercu-regular.woff2') format('woff2');
    /* Path to the font */
}

@font-face {
    font-family: 'siaga';
    /* Name of your font */
    src: url('fonts/Siaga-Bold.woff2') format('woff2');
    /* Path to the font */
}

@font-face {
    font-family: 'montel';
    /* Name of your font */
    src: url('fonts/Montel.woff') format('woff');
    /* Path to the font */
    font-weight: normal;
    /* You can specify weights like normal, bold */
    font-style: normal
}